<!-- http://www.bennadel.com/blog/2420-Mapping-AngularJS-Routes-Onto-URL-Parameters-And-Client-Side-Events.htm -->
<div data-ng-controller="MainCtrl" data-ng-switch on="curview">
	<div data-ng-switch-when="login">
		<div class="topcoat-navigation-bar">
		   <div class="topcoat-navigation-bar__item left quarter">
		   </div>
		   <div class="topcoat-navigation-bar__item center half">
			   <h3 class="topcoat-navigation-bar__title">RSS Reader-Login</h3>
		   </div>
		   <div class="topcoat-navigation-bar__item right quarter">
		   </div>
		</div>	
	</div>
	<div data-ng-switch-when="subs">
		<div class="topcoat-navigation-bar">
		   <div class="topcoat-navigation-bar__item left quarter">
		   </div>
		   <div class="topcoat-navigation-bar__item center half">
			   <h3 class="topcoat-navigation-bar__title">RSS Reader-subscriptions</h3>
		   </div>
		   <div class="topcoat-navigation-bar__item right quarter">
				<button class="topcoat-icon-button--quiet" data-ng-click="logout()">
				  <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
				</button>		   
		   </div>
		</div>	
	</div>
	<div data-ng-switch-when="posts">
		<div class="topcoat-navigation-bar">
		   <div class="topcoat-navigation-bar__item left quarter">
		   </div>
		   <div class="topcoat-navigation-bar__item center half">
			   <h3 class="topcoat-navigation-bar__title">RSS Reader-posts</h3>
		   </div>
		   <div class="topcoat-navigation-bar__item right quarter">
				<button class="topcoat-icon-button--quiet"  data-ng-click="logout()">
				  <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
				</button>		   
		   </div>
		</div>	
	</div>
	<div data-ng-switch-when="post">
		<div class="topcoat-navigation-bar">
		   <div class="topcoat-navigation-bar__item left quarter">
		   </div>
		   <div class="topcoat-navigation-bar__item center half">
			   <h3 class="topcoat-navigation-bar__title">RSS Reader-posts</h3>
		   </div>
		   <div class="topcoat-navigation-bar__item right quarter">
				<button class="topcoat-icon-button--quiet"  data-ng-click="logout()">
				  <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
				</button>		   
		   </div>
		</div>	
	</div>	<div data-ng-switch-default="">
		<div class="topcoat-navigation-bar">
		   <div class="topcoat-navigation-bar__item left quarter"/>
		   <div class="topcoat-navigation-bar__item center half">
			   <h1 class="topcoat-navigation-bar__title">RSS Reader</h1>
		   </div>
		   <div class="topcoat-navigation-bar__item right quarter"/>
		</div>	
	</div>
</div>
</div>
