<!-- ref: https://gist.github.com/tfausak/2046174 -->
<div data-ng-controller="LoginCtrl" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
        <div class="container-fluid">
          <a class="brand" href="#">Feed Reader</a>
          <div class="nav-collapse">
			<ul class="nav">
					<li class="dropdown">
						<div data-ng-show="factory.feedlist != null"  class="btn-group">
							<a href="#" class="btn btn-small dropdown-toggle"    data-toggle="dropdown">Add <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a data-ng-click="addcat()" href="#">Category</a></li>
								<li><a data-ng-click="addfeed()" href="#">Feed</a></li>
							</ul>
						</div>
					</li>			
					<li class="divider-vertical"></li>
					<li data-ng-show="factory.feed != null && factory.feed.url != ''">
						<button id="mark-all-read"
									class="btn btn-small"
									data-ng-disabled="factory.feed.url==''" 
									data-ng-click="markallread(factory.feed.url)">mark all as read</button>				
						<button data-ng-disabled="factory.feed.url==''" data-ng-click="refreshfeed(factory.feed.url)" class="btn btn-small"><i class="icon-refresh"></i></button>	
						<button class="btn btn-small" data-ng-click="removefeed(factory.feed.url)" href="javascript:void(0)"><i class="icon-remove"></i></button>
					</li>
					<li class="dropdown" data-ng-show="factory.feed != null  && factory.feed.url != ''">
						<div class="btn-group" >
						<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">Category <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li data-ng-repeat="category in factory.categories">
								<a data-ng-click="changecategory(category)" href="javascript:void(0)">{{category}}</a>
								</li>
							</ul>
						</div>						
					</li>
				</ul>
				<ul class="nav pull-right">
					<li><span data-ng-show="loading"><i class="icon-spinner icon-spin"></i> Pl. wait...</span>
					</li>
					<li data-ng-show="factory.emailid.length != 0"><a href="#" data-ng-click="logout()">Logout {{factory.emailid}}</a></li>
				</ul>
				<span data-ng-hide="factory.emailid.length &gt; 0">
					<form class="navbar-form pull-right">
						<input class="span2" type="text" data-ng-model="user.emailid" required placeholder="Email">
						<input class="span2" type="password"  data-ng-model="user.pwd" required  placeholder="Password">
						<button data-ng-click="login(user.emailid,user.emailid,user.pwd)" class="btn">Sign in/register</button>
					</form>			
				</span>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>